# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# build
dist/
*.tsbuildinfo

# env files
.env
.env*.local

# turbo
.turbo/

# ide
.vscode/
.idea/

# os
.DS_Store
Thumbs.db

# debug
npm-debug.log*
pnpm-debug.log*

# database
*.db
*.sqlite
